:root{
    --branco: white;
    --cor-de-fundo: #14002e;
    --fundo-senha: #40004d;
    --fundo-texto: #400025;
    --borda: #a200ff;
}
body{
    color: var(--branco);
    background-color: var(--cor-de-fundo);
}
